<%= content_for :title, "Skills" %>
<header>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
  <div class="logo">
</header>
<div class="image-grid">
  <div class="image-item">
    <img src="https://hiringsolved.com/wp-content/uploads/2017/04/networkengineer.jpg">
    <div class="image-description">
      <h3>Network Engineering</h3>
      <p>I love building enterprise networks!</p>
    </div>
  </div>
  <div class="image-item">
    <img src="https://www.incredibuild.com/wp-content/uploads/2021/05/Docker-vs-Kubernetes_980x533_5.jpg">
    <div class="image-description">
      <h3>Site Reliability Engineering</h3>
      <p> I love the challenge of designing, building, and maintaining highly scalable and fault-tolerant systems that can handle massive amounts of traffic and data.</p>
    </div>
  </div>
  <div class="image-item">
    <img src="image3.jpg">
    <div class="image-description">
      <h3>Image 3 Description</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
</div>

<footer>
   <ul>
    <li><a href="https://github.com/SuperGouki"><i class="fab fa-github"></i></a></li>
    <li><a href="https://ca.linkedin.com/in/james-jiang-20a30064"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/your-username"><i class="fab fa-twitter"></i></a></li>
  </ul>
  <p>&copy; 2023 James Jiang. All rights reserved.</p>
</footer>