<%= content_for :title, "Welcome" %>
<header>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
  <div class="logo">
</header>



<main>
  <h1>James Jiang</h1>
  <h2>Sr Network Eng/ SRE / Technologist</h2>
  <%= link_to "See my Skills!", skills_path, class: "view-work-btn" %>  <a href="#" class="view-work-btn">About me</a>
</main>



<footer>
   <ul>
    <li><a href="https://github.com/SuperGouki"><i class="fab fa-github"></i></a></li>
    <li><a href="https://ca.linkedin.com/in/james-jiang-20a30064"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/your-username"><i class="fab fa-twitter"></i></a></li>
  </ul>
  <p>&copy; 2023 James Jiang. All rights reserved.</p>
</footer>