<%= content_for :title, "Welcome" %>

<header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
  <div class="logo">
    <h1><span>JAMES JIANG</span> </h1>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
      <li class="toggle"><a href="#"><i class="fa fa-bars"></i></a></li>
    </ul>
  </nav>
</header>


<main>
  <h1>Senior Network / SRE Engineer</h1>
  <a href="#">View my Work</a>
</main>



<footer>
   <ul>
    <li><a href="https://github.com/SuperGouki"><i class="fab fa-github"></i></a></li>
    <li><a href="https://ca.linkedin.com/in/james-jiang-20a30064"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/your-username"><i class="fab fa-twitter"></i></a></li>
  </ul>
  <p>&copy; 2023 James Jiang. All rights reserved.</p>
</footer>